In [1]:
import pandas as pd

In [3]:
df_products = pd.read_csv("D:/PythonProject/webformyself/23_files/products.csv", sep=';')
df_products

    id                                              title  brand_id
0    1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1
1    2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2
2    3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3
3    4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3
4    5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1
5    6  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4
6    7  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5
7    8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2
8    9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3
9   10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3
10  11  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6

In [4]:
df_brands = pd.read_csv("D:/PythonProject/webformyself/23_files/brands.csv", sep=';')
df_brands

   brand_id   brand
0         1    Acer
1         2    Asus
2         3      HP
3         4    Dell
4         5   Apple
5         6  Lenovo

In [5]:
pd.merge(df_products, df_brands, on='brand_id')

    id                                              title  brand_id   brand
0    1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1    Acer
1    2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2    Asus
2    3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3      HP
3    4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3      HP
4    5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1    Acer
5    6  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4    Dell
6    7  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5   Apple
7    8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2    Asus
8    9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3      HP
9   10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3      HP
10  11  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6  Lenovo

In [7]:
df_brands.loc[6] = [7, 'MS']

In [9]:
df_brands

   brand_id   brand
0         1    Acer
1         2    Asus
2         3      HP
3         4    Dell
4         5   Apple
5         6  Lenovo
6         7      MS

In [11]:
df_products.loc[11] = [12, 'Notebook Huawey', 8]
df_products

    id                                              title  brand_id
0    1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1
1    2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2
2    3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3
3    4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3
4    5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1
5    6  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4
6    7  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5
7    8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2
8    9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3
9   10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3
10  11  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6
11  12                                    Notebook Huawey         8

In [12]:
pd.merge(df_products, df_brands, on='brand_id', how='inner')

    id                                              title  brand_id   brand
0    1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1    Acer
1    2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2    Asus
2    3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3      HP
3    4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3      HP
4    5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1    Acer
5    6  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4    Dell
6    7  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5   Apple
7    8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2    Asus
8    9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3      HP
9   10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3      HP
10  11  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6  Lenovo

In [13]:
pd.merge(df_products, df_brands, on='brand_id', how='left')

    id                                              title  brand_id   brand
0    1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1    Acer
1    2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2    Asus
2    3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3      HP
3    4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3      HP
4    5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1    Acer
5    6  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4    Dell
6    7  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5   Apple
7    8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2    Asus
8    9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3      HP
9   10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3      HP
10  11  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6  Lenovo
11  12                                    Notebook Huawey         8     NaN

In [14]:
pd.merge(df_products, df_brands, on='brand_id', how='right')

      id                                              title  brand_id   brand
0    1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1    Acer
1    5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1    Acer
2    2.0  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2    Asus
3    8.0  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2    Asus
4    3.0  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3      HP
5    4.0  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3      HP
6    9.0  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3      HP
7   10.0  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3      HP
8    6.0  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4    Dell
9    7.0  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5   Apple
10  11.0  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6  Lenovo
11   NaN                                                NaN         7      MS

In [15]:
pd.merge(df_products, df_brands, on='brand_id', how='outer')

      id                                              title  brand_id   brand
0    1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1    Acer
1    5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1    Acer
2    2.0  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2    Asus
3    8.0  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2    Asus
4    3.0  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3      HP
5    4.0  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3      HP
6    9.0  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3      HP
7   10.0  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3      HP
8    6.0  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4    Dell
9    7.0  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5   Apple
10  11.0  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6  Lenovo
11   NaN                                                NaN         7      MS
12  12.0                                    Notebook Huawey         8     NaN

In [16]:
df_brands

   brand_id   brand
0         1    Acer
1         2    Asus
2         3      HP
3         4    Dell
4         5   Apple
5         6  Lenovo
6         7      MS

In [18]:
df_brands.rename(columns={'brand_id': 'id'}, inplace = True)

In [19]:
df_brands

   id   brand
0   1    Acer
1   2    Asus
2   3      HP
3   4    Dell
4   5   Apple
5   6  Lenovo
6   7      MS

In [27]:
pd.merge(df_products, df_brands, left_on='brand_id', right_on = 'id', suffixes=('_left', '_right'))

,id_left,title,brand_id,id_right,brand
0,1,Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....,1,1,Acer
1,2,Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...,2,2,Asus
2,3,Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...,3,3,HP
3,4,Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...,3,3,HP
4,5,Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....,1,1,Acer
5,6,Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...,4,4,Dell
6,7,"Ноутбук Apple MacBook Air 13"" 256GB 2020 Space...",5,5,Apple
7,8,Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...,2,2,Asus
8,9,Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...,3,3,HP
9,10,Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...,3,3,HP
10,11,Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...,6,6,Lenovo

In [28]:
pd.merge(df_products, df_brands, left_on='brand_id', right_on = 'id', suffixes=('_left', '_right'), indicator=True)

,id_left,title,brand_id,id_right,brand,_merge
0,1,Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....,1,1,Acer,both
1,2,Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...,2,2,Asus,both
2,3,Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...,3,3,HP,both
3,4,Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...,3,3,HP,both
4,5,Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....,1,1,Acer,both
5,6,Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...,4,4,Dell,both
6,7,"Ноутбук Apple MacBook Air 13"" 256GB 2020 Space...",5,5,Apple,both
7,8,Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...,2,2,Asus,both
8,9,Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...,3,3,HP,both
9,10,Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...,3,3,HP,both
10,11,Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...,6,6,Lenovo,both

In [29]:
df_brands

   id   brand
0   1    Acer
1   2    Asus
2   3      HP
3   4    Dell
4   5   Apple
5   6  Lenovo
6   7      MS

In [33]:
df_brands.set_index('id', inplace=True)

KeyError: "None of ['id'] are in the columns"

In [34]:
df_brands

     brand
id
1     Acer
2     Asus
3       HP
4     Dell
5    Apple
6   Lenovo
7       MS

In [38]:
df_products.join(df_brands, on ='brand_id', how='left')

    id                                              title  brand_id   brand
0    1  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....         1    Acer
1    2  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...         2    Asus
2    3  Ноутбук HP Pavilion Gaming 15-bc504ur (7DT87EA...         3      HP
3    4  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...         3      HP
4    5  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....         1    Acer
5    6  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...         4    Dell
6    7  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...         5   Apple
7    8  Ноутбук Asus ROG Strix G15 G512LI-HN094 (90NR0...         2    Asus
8    9  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...         3      HP
9   10  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...         3      HP
10  11  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...         6  Lenovo
11  12                                    Notebook Huawey         8     NaN

In [40]:
df_city = pd.read_csv("D:/PythonProject/webformyself/23_files/city.csv", sep=';')
df_city

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [42]:
df_country = pd.read_csv("D:/PythonProject/webformyself/23_files/country.csv", sep=';')
df_country

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [45]:
pd.merge(df_city, df_country, how='left', left_on='CountryCode', right_on='Code')\
[['ID', 'Name_x', 'CountryCode', 'Name_y', 'Population_x']]\
.rename(columns={'Name_x': 'City', 'Name_y': 'Country', 'Population_x': 'Population'})

        ID            City CountryCode      Country  Population
0        1           Kabul         AFG  Afghanistan     1780000
1        2        Qandahar         AFG  Afghanistan      237500
2        3           Herat         AFG  Afghanistan      186800
3        4  Mazar-e-Sharif         AFG  Afghanistan      127800
4        5       Amsterdam         NLD  Netherlands      731200
...    ...             ...         ...          ...         ...
4074  4075      Khan Yunis         PSE    Palestine      123175
4075  4076          Hebron         PSE    Palestine      119401
4076  4077        Jabaliya         PSE    Palestine      113901
4077  4078          Nablus         PSE    Palestine      100231
4078  4079           Rafah         PSE    Palestine       92020

[4079 rows x 5 columns]

In [47]:
res = pd.merge(df_city, df_country, how='left', left_on='CountryCode', right_on='Code')\
[['ID', 'Name_x', 'CountryCode', 'Name_y', 'Population_x']]\
.rename(columns={'Name_x': 'City', 'Name_y': 'Country', 'Population_x': 'Population'})

In [48]:
res.to_excel('Result.xlsx', index=False)